/* COLORS */
/* TYPOGRAPHY */
/* BREAKPOINTS */
/* EFFECTS */
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500|Playfair+Display:700,900,900i&display=swap");
body {
  font-family: "Catamaran", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 1.6; }

.title__top {
  font-family: "Catamaran", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #686868; }

.header__title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 30px;
  color: black;
  line-height: 1.3; }

.section__top {
  font-family: "Catamaran", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 3px; }

.section__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 26px;
  color: black;
  margin: 0 0 30px 0; }

.expect__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
  text-align: center; }

.newsletter__title {
  font-weight: 400;
  font-size: 24px; }

.logo {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 18px; }

.logo--title {
  font-size: 26px; }

.logo--big--black {
  font-size: 55px; }
  .logo--big--black a {
    color: black;
    text-decoration: none; }

.logo--big--white {
  font-size: 55px; }
  .logo--big--white a {
    color: white;
    text-decoration: none; }

.quote {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: white; }

.quote-name {
  font-family: "Catamaran", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white; }

.footer {
  color: white; }

.text__link {
  color: #f71665; }
  .text__link:hover {
    color: rgba(247, 22, 101, 0.73); }

.button__link {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 0; }

.button--action {
  color: white; }

.button--secondary {
  color: #f71665; }

.p--margin {
  margin-top: 20px; }

.input__email {
  font-size: 14px;
  color: #686868; }

.input__submit {
  font-family: "Catamaran", Helvetica, sans-serif;
  font-size: 18px;
  color: white; }

.button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 110px;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid #f71665; }
  .button__link:hover {
    transform: scale(1.05); }
  .button__link:active {
    transform: scale(0.95); }

.button--action {
  background-color: #f71665; }

.button--secondary {
  background-color: white; }

.p--margin {
  margin-top: 20px; }

.newsletter__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.input__email {
  width: 156px;
  height: 55px;
  padding: 0 10px;
  margin: 2px 0;
  background-color: white;
  border: 2px solid white; }
  .input__email:focus {
    border: 2px solid #f71665; }

.input__submit {
  height: 59px;
  padding: 10px 20px;
  margin: 2px 0;
  background-color: #f71665;
  border: 2px solid #f71665;
  cursor: pointer; }
  .input__submit:hover, .input__submit:focus {
    transform: scale(1.05); }
  .input__submit:active {
    transform: scale(0.95); }

.svg__logo {
  margin: 5px;
  fill-rule: nonzero; }
  .svg__logo path {
    stroke: #d1d1d1;
    fill: #d1d1d1; }
  .svg__logo:hover path, .svg__logo:focus path {
    stroke: #f71665;
    fill: #f71665; }

.expect-image {
  display: block; }

.expect__box--margin-bottom {
  margin-bottom: 50px; }

.social__icon {
  background-color: #f71665;
  padding: 10px;
  margin-right: 10px; }
  .social__icon path {
    fill: white; }
  .social__icon:hover, .social__icon:focus {
    background-color: black; }
    .social__icon:hover path, .social__icon:focus path {
      fill: #f71665; }
  .social__icon:active {
    background-color: black; }
    .social__icon:active path {
      fill: white; }

.social-menu__link {
  color: transparent;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

.nav__menulist {
  display: none; }

.header {
  min-height: calc(100vh - 40px);
  padding: 20px 10vw; }

.header__box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.header__titlebox {
  margin: 30px 0 30px 0; }

.header__buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (min-width: 480px) {
  .header {
    padding: 20px 15vw; } }
@media screen and (min-width: 768px) {
  .main__section {
    padding: 20px 20vw; } }
.main__section {
  padding: 50px 10vw; }

.introduction__section {
  background-color: rgba(194, 231, 218, 0.61); }

.expect__box {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.location__div {
  margin: 70px 0;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(45, 45, 45, 0.4); }

.location__section {
  background-image: url("../assets/img/005.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 600px; }

.testimonial__section {
  background-color: #6290c3; }

.quote__box {
  margin: 50px 0; }

.impressions__grid {
  text-align: center; }

.sponsors__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 480px) {
  .main__section {
    padding: 50px 15vw; } }
@media screen and (min-width: 768px) {
  .main__section {
    padding: 50px 20vw; } }
@media screen and (min-width: 1920px) {
  .main__section {
    margin: 0 auto;
    padding: 100px 150px;
    max-width: 1620px; } }
.footer {
  padding: 50px 10vw;
  background-color: black; }

.footer__newsletter {
  padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
