// Links

.text__link {
  color: $pink-color;

  &:hover {
    color: $lighpink-color;
  }
}

// Button Links

.button__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 30px;
  width: 110px;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 0;
  border: 2px solid $pink-color;
}

.button--action {
  color: $white-color;
  background-color: $pink-color;
}

.button--secondary {
  color: $pink-color;
  background-color: $white-color;
}

//Newsletter Form

.input__email {
  width: 156px;
  height: 55px;
  padding: 0 10px;
  font-size: 14px;
  color: $darkgray-color;
  background-color: $white-color;
  border: 2px solid $black-color;

  &:focus {
    border: 2px solid $pink-color;
  }
}

.input__submit {
  height: 55px;
  padding: 10px 20px;
  background-color: $pink-color;
  color: $white-color;
  border: 2px solid $pink-color;
  cursor: pointer;

  &:hover {
    
  }

  &:focus {
    
  }
}

.svg__logo {
  //border: 2px solid blue;
  margin: 5px;
  fill-rule: nonzero;
  
  path {
    stroke: $lightgray-color;
    fill: $lightgray-color;
  }

  &:hover {
    path {
      stroke: $pink-color;
      fill: $pink-color;
    }
  }
}