// HAMBURGER MENU


.hamburger__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  cursor: pointer;
}



// CREDITS: Hamburger Menu Animation by https://www.w3schools.com/howto/howto_css_menu_icon.asp
.hamburger__animation {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px);
  transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}


// Button Links

.button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 110px;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid $pink-color;

  &:hover {
    transform: $scale-bigger;
  }

  &:active {
    transform: $scale-smaller;
  }
}

.button--action {
  background-color: $pink-color;
}

.button--secondary {
  background-color: $white-color;
}

  .p--margin {
    margin-top: 20px;
  }

//Newsletter Form

.newsletter__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.input__email {
  width: 156px;
  height: 55px;
  padding: 0 10px;
  margin: 2px 0;
  background-color: $white-color;
  border: 2px solid $white-color;

  &:focus {
    border: 2px solid $pink-color;
  }
}

.input__submit {
  height: 59px;
  padding: 10px 20px;
  margin: 2px 0;
  background-color: $pink-color;
  border: 2px solid $pink-color;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: $scale-bigger;
  }

  &:active {
    transform: $scale-smaller;
  }
}

.svg__logo {
  margin: 5px;
  fill-rule: nonzero;
  
  path {
    stroke: $lightgray-color;
    fill: $lightgray-color;
  }

  &:hover,
  &:focus {
    path {
      stroke: $pink-color;
      fill: $pink-color;
    }
  }
}

//IMAGES

.expect-image {
  display: block;
}

  

//SOCIAL MEDIA AND CONTACT ICONS

.social__icon {
  background-color: $pink-color;
  padding: 10px;
  margin-right: 10px;

  path {
    fill: $white-color;
  }

  &:hover, &:focus {
    background-color: $black-color;

    path {
      fill: $pink-color;
    }
  }

  &:active {
    background-color: $black-color;

    path {
      fill: $white-color;
    }
  }
}

.social-menu__link {
  color: transparent;
  text-decoration: none;
}


@media screen and (min-width: $tablet-landscape) {
  .button--action {
    margin-right: 40px;
  }
}

@media screen and (min-width: $desktop-small) {
  .button__link {
    height: 47px;
    width: 165px;
  }
}

