body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 18px;
  color: $black-color;
  line-height: 1.6;
}

.title__top {
  font-family: $main-font;
  font-weight: 700;
  font-size: $small-font-size;
  color: $darkgray-color;
}

.header__title {
  font-family: $title-font;
  font-weight: 900;
  font-size: 30px;
  color: $black-color;
  line-height: 1.3;
}

.section__top {
  font-family: $main-font;
  font-weight: 400;
  font-size: $small-font-size;
  color: $black-color;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.section__title {
  font-family: $title-font;
  font-weight: 700;
  font-size: $large-font-size;
  color: $black-color;
  margin: 0 0 30px 0;
}

.expect__title {
  font-family: $title-font;
  font-weight: 700;
  font-size: $medium-font-size;
  color: $black-color;
  text-align: center;
}

.newsletter__title {
  font-weight: 400;
  font-size: $medium-font-size;
}

//LOGO

.logo {
  @include logo-list;
  font-size: $base-font-size;
}

.logo--title {
  font-size: $large-font-size;
}

.logo--big--black {
  font-size: $big-logo-size;

  a {
    color: $black-color;
    text-decoration: none;
  }
}

.logo--big--white {
  font-size: $big-logo-size;

  a {
    color: $white-color;
    text-decoration: none;
  }
}

//QUOTE

.quote {
  font-family: $title-font;
  font-weight: 700;
  font-size: $medium-font-size;
  color: $white-color;
}

.quote-name {
  font-family: $main-font;
  font-weight: 400;
  font-size: $small-font-size;
  color: $white-color;
}

.footer {
  color: $white-color;
}

//LINKS

.text__link {
  color: $pink-color;

  &:hover {
    color: $darkpink-color;
  }
}

.text__link--footer {
  &:hover {
    color: $white-color;
  }
}

//BUTTONS

.button__link {
  text-align: center;
  font-size: $base-font-size;
  font-weight: 400;
  text-decoration: none;
  line-height: 0;
}

.button--action {
  color: $white-color;
}

.button--secondary {
  color: $pink-color;
}

  .p--margin {
    margin-top: 20px;
  }

//INPUT

.input__email {
  font-size: $small-font-size;
  color: $darkgray-color;
}

.input__submit {
  font-family: $main-font;
  font-size: $base-font-size;
  color: $white-color;

  &:hover {
    
  }

  &:focus {
    
  }
}