.footer {
  padding: $content-padding;
  background-color: $black-color;
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.footer__newsletter {
  padding-bottom: 50px;
}

@media screen and (min-width: $tablet-landscape) {
  // .footer {
  //   //display: flex;
  //   justify-content: space-between;
  //   flex-wrap: nowrap;
  // }

  // .footer__logo-box {
  //   width: 48vw;
  //   padding-left: 110px;
  // }

}