.main__section {
  padding: $content-padding;
}

.introduction__section {
  background-color: $mint-color;
}

.location__div {
  background-color: white;
  padding: 30px;
  box-shadow: $location-box-shadow;
}

.location__section {
  height: calc(100vh - 100px);
  background-image: url('../assets/img/005.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.testimonial__section {
  height: 395px;
  background-color: $blue-color;
}