.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__menulist {
  display: none;
}

//HAMBURGER MENU

.hamburger__animation {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}


@media screen and (min-width: $tablet-landscape) {
  .header__nav {
    //align-items: flex-start;
  }
  
  .hamburger__menu {
    display: none;
  }


  .nav__menulist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .nav__item {
    margin: 0;
    padding: 0 0 0 70px;
    
  }
  
}