// COLORS
$pink-color: rgba(247, 22, 101, 1); //#F71665
$mint-color: rgba(194, 231, 218, 0.61); //#C2E7DA
$blue-color: rgba(98, 144, 195, 1); //#6290C3
$white-color: rgba(255, 255, 255, 1); //#FFFFFF
$black-color: rgba(0, 0, 0, 1); //#000000
$lightgray-color: rgba(209, 209, 209, 1);//#D1D1D1
$gray-color: rgba(170, 170, 170, 1); //#AAAAAA
$darkgray-color: rgba(104, 104, 104, 1); //#686868

// LAYOUT
$content-padding: 20px;

// OTHER

$mobile-screen-padding: 20px;

$location-box-shadow: 0 0 10px rgba(45, 45, 45, 0.4); // #2D2D2D